// Colors
$color-primary: #2B495E;
$color-primary-light: #4fc3c7;
$color-primary-dark: rgb(30, 62, 85);

$color-secondary: #f1491f;

$color-tertiary: rgb(241, 161, 115);

$color-dark-1: #4A4A4A;

$color-gray: #9c9c9c;

/// Contact buttons
$color-btn-facebook: #3B5998;
$color-btn-github: #3F3D56;
$color-btn-mail: tomato;
$color-btn-phone: #0089B9;


// Font sizes
$font-size-xs: 1rem;
$font-size-sm: 1.3rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.8rem;
$font-size-xxxl: 5rem;
$font-size-xxxxl: 10rem;

// Font style
$font-style-project: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;