// Colors
$color-primary: #041230;
$color-primary-dark: #010611;

// Font sizes
$font-size-xs: 1rem;
$font-size-sm: 1.3rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.8rem;
$font-size-xxxl: 5rem;
$font-size-xxxxl: 10rem;