@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap&subset=vietnamese');

body { 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}     

.header-primary {
    font-size: $font-size-l;
    font-weight: 700;
    text-transform: capitalize;
    color: $color-primary;
}

.emphasize__text {
    font-weight: normal !important;
    color: $color-tertiary !important;
}

.nav__link {
    font-size: $font-size-l;
    font-weight: normal;
    text-decoration: none;
    color: $color-light;
    text-transform: uppercase;
}

.about, .skills, .works, .edu, .contact {
    &__heading {
        font-size: $font-size-xxxl;
        text-transform: uppercase;

        @include breakpoint(l-mobile) {
            font-size: $font-size-xxl;
        }
    }   

    &__text {
        font-size: $font-size-l;

        @include breakpoint(l-mobile) {
            font-size: $font-size-s;
        }
    }
}