block vars

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="robots" content="index, follow")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")

        include ./styles

        title=title

        block link
    body
        //- header
        block header
            include ./header
        //- main content
        main.wrapper
            block container
        //- footer
        block footer
            //- include ./footer

        //- global scripts
        include ./scripts
        //- local
        block script        