header.header
    nav.nav-left
        img.img-logo(src="../../assets/image/Nguyễn Minh Toàn.png")
    nav.nav-right
        ul.right-list
            li.right-list-item
                a.right-list-link(href="/home")
                    | Home
            li.right-list-item
                a.right-list-link(href="/work")
                    | Project
            li.right-list-item
                a.right-list-link(href="/cv")
                    | CV