- var navItems = ['index.pug', 'project.pug', 'resume.pug'];
header.header
    nav.nav-left
        img.img-logo(src="../../assets/image/Nguyễn Minh Toàn.png")
    nav.nav-right
        ul.right-list
            li.right-list-item
                a.right-list-link(href=navItems[0])
                    | Home
            li.right-list-item
                a.right-list-link(href=navItems[1])
                    | Projects