//-  top bar 1 hàng
nav.navbar.navbar-expand-lg.navbar-dark.bg-light.navbar-logo-container
    ul.navbar-nav.navbar-logo
        li.nav-item.hvr-bounce-in
            a.navbar-brand(href='/')
                img.navbar-brand-logo(src="https://res.cloudinary.com/dxrg9mbke/image/upload/v1573660775/Live-Free-Download-PNG_ngaz4o.png" style="width: 10rem;")
        li.nav-item            
            a.navbar-brand(href='/')
                img.navbar-brand-logo(src="https://res.cloudinary.com/dxrg9mbke/image/upload/v1573660775/Live-Free-Download-PNG_ngaz4o.png" style="width: 10rem;")