header.header
    nav.nav-left
        img.img-logo(src="../../assets/image/undraw_stand_out_1oag.svg")
    nav.nav-right
        ul.right-list
            li.right-list-item
                a.right-list-link(href="#")
                    | Home
            li.right-list-item
                a.right-list-link(href="#")
                    | About
            li.right-list-item
                a.right-list-link(href="#")
                    | Work
            li.right-list-item
                a.right-list-link(href="#")
                    | Contact            
            li.right-list-item
                a.right-list-link(href="#")
                    | CV