header.header
    nav.nav-left
        img.img-logo(src="../../assets/image/undraw_stand_out_1oag.svg")
    nav.nav-right
        ul.right-list
            li.right-list-item
                a.right-list-link(href="/home")
                    | Home
            li.right-list-item
                a.right-list-link(href="/work")
                    | Work
            li.right-list-item
                a.right-list-link(href="/contact")
                    | Contact            
            li.right-list-item
                a.right-list-link(href="/cv")
                    | CV