extends ../layout/common.pug
block vars
    - var title="Welcome to Noat portfolio - About page"

//- stylesheets
block link
    //- fontawesome
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/about.scss")

block container            
    //- put content here
    .about-container
        img.intro-img(src="../../assets/image/undraw_personal_info_0okl.svg" alt="About logo")
        h1.intro-heading
            | Opps, let's me introduce a little bit about myself
        p.intro-text
            | I'm currently studying in Cantho university in college of Information & Communication Technology in Information Technology major and I will graduate by the time at 2021.
        p.intro-text
            | Apart from the school's subjects, I found my passion in Web development in the second year after getting a thought of quitting this major.
            | The reason why I love web development because I'm able to use my power to solve my realistic problems, such as automate my daily boring works.
        p.intro-text
            | Moreoever, to me, to give is to receive. Hence, on October 2018, I joined 
            a(href="https://coders-x.com/")
                | CodersX 
            | community - a non profit programming organization aims to train and provide IT students in Vietnam enough skills and knowledge to work immediately after graduation.

        .social
            p.social-intro-text
                | Contact me and then we will have a coffee together.
            a.link.facebook(href="https://facebook.com/noat.2598" target="_blank" title="fb.com/noat.2598")
                i.icon.fab.fa-facebook-f
            a.link.github(href="https://github.com/nmtoan251998" target="_blank" title="github.com/nmtoan251998")
                i.icon.fab.fa-github-alt
            a.link.mail(href="mailto:nmtoan251998@gmail.com" target="_blank" title="nmtoan251998@gmail.com")
                i.icon.far.fa-envelope
            a.link.phone(href="tel:+84967802598" target="_blank" title="+84 967 802 598")
                i.icon.fas.fa-phone

block script
    //- slick
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")