extends ../layout/common.pug
block vars
    - var title="Welcome to Noat portfolio - CV page"

//- stylesheets
block link
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/cv.scss")

block container            
    //- put content here
    .cv-container
        a.btn-download.draw-border(
            href="https://res.cloudinary.com/dwvysf04x/image/upload/v1575382894/CV/CV_vi_uynosk.pdf"
            target="_blank")
            | Download my CV (vi)
        img.cv-img(src="../../assets/image/cv-vi-ver.svg")

        a.btn-download.draw-border(
            href="https://res.cloudinary.com/dwvysf04x/image/upload/v1575382905/CV/CV_en_jbp8fq.pdf" 
            target="_blank")
            | Download my CV (en)
        img.cv-img(src="../../assets/image/cv-en-ver.svg")
        

block script
    //- slick
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")