extends ../layout/common.pug
block vars
    - var title="Welcome to Noat portfolio - CV page"

//- stylesheets
block link
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/cv.scss")

block container            
    //- put content here
    .cv-container
        a.btn-download.draw-border(
            href="https://res.cloudinary.com/dwvysf04x/image/upload/v1575474698/CV/CV_vi_qbenbw.pdf"
            target="_blank")
            | Download my CV (vi)
        img.cv-img(src="../../assets/image/cv-vi-ver.svg")

        a.btn-download.draw-border(
            href="https://res.cloudinary.com/dwvysf04x/image/upload/v1575474806/CV/CV_en_wuecfi.pdf" 
            target="_blank")
            | Download my CV (en)
        img.cv-img(src="../../assets/image/cv-en-ver.svg")