extends ../layout/common.pug
block vars
    - var title="Welcome to Noat portfolio - Home page"

//- stylesheets
block link
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/home.scss")

block container            
    //- put content here
    .home-container
        img.intro-img(src="../../assets/image/undraw_dev_productivity_umsq.svg" alt="Home logo")
        h1.intro-heading
            | Hello my friends, I'm Toan and just call me Noat.
        p.intro-text
            | I am currently working as a Back-end web developer. But when my teammates get into trouble and need my help, I become a superman to take care of their health and motivate them to complete the whole work, I quit.
        p.intro-text
            | I am also a books lover and I have a ton of books and I'd to give them all. Hence, just call me (+84 967 802 598) and I will give my all books to you......wihich doubled-price compares to the market's (wake up buddies, nothing here is free of charge).

block script
    //- slick
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")