extends ../layout/common.pug
block vars
    - var title="Welcome to Noat portfolio - Home page"

//- stylesheets
block link
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/home.scss")

block container            
    //- put content here
    .home-container
        img.intro-img(src="../../assets/image/undraw_dev_productivity_umsq.svg" alt="Home logo")
        h1.intro-heading
            | Hello my friends, I'm Toan and just call me Noat.
        p.intro-text
            | I am currently working as a Back-end web developer. But when my teammates get into trouble and need my help, I become a superman to take care of their health and motivate them to complete the whole work, I quit.
        p.intro-text
            | I am also a Cat Father of a stupid fatty cat. She is so crazy, lazy, stupid and scratches me every f***king single time I take her a shower, but I still love her wtf?. 
            | You are a cat's lover too and want to raise her? 
            a(href="/about") Contact me 
            | and give me a job then I can make money to marry you and we will raise my p*ssy cat together (in case you are a female).

block script
    //- slick
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")