extends ../layout/common.pug
block vars
    - var title="Welcome to Noat portfolio - Home page"

//- stylesheets
block link
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/home.scss")

block container            
    //- put content here
    .home-container
        img.intro-img(src="../../assets/image/undraw_dev_productivity_umsq.svg" alt="Home logo")
        h1.intro-heading
            | Hello my friends, I'm Toan and just call me Noat.
        p.intro-text
            | After learning programming for about 3 years, I am currently working as a Back-end web developer, so don't afraid to
            a(href="about")
                |  contact me 
            | and give me a job.