extends ../layout/common.pug
block vars
    - var title="Noat Portfolio | Project"

//- stylesheets
block link
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/project.scss")

block container            
    //- put content here
    .project-container
        .project
            h2.project-title
                | Learning Management System
            p.project-pos
                | Application Developer (08/2020 - Current)
            .project-block
                p.project-info
                    | Goal:
                p.project-detail
                    | Develop a learning management system for Korean Universities.
            .project-block
                p.project-info
                    | Scope:
                p.project-detail.u-align-self-center
                    | 6 people
            p.project-info
                | Strategies:
            ul.project-detail-list
                li
                    a.project-detail.project-link(href="https://campus.knowllipop.com" target="_blank")
                        | https://campus.knowlipop.com
                li
                    p.project-detail
                        | Communicate closely to international colleague to clearify the requirements.
                li
                    p.project-detail
                        | Analyze and estimate tasks duration.
                li
                    p.project-detail
                        | Develop LTI (plugins) services to integrate with the LMS using NodeJs, ExpressJs, NestJs, TypeScript.
                li
                    p.project-detail
                        | Develop background jobs queue API for large-file processing.
                li
                    p.project-detail
                        | Multilingual support with existed Ruby-ReactJs system.
                li
                    p.project-detail
                        | Write unit testing, end-to-end testing for the backend APIs.
                li
                    p.project-detail
                        | Manage data with MongoDb and Mongoose ORM, PostGreSQL.
                li
                    p.project-detail
                        | Structure project architectural design with DDD clean architectural design pattern.
                li
                    p.project-detail
                        | Design and implement Distributed architectural design for backend services.

        .project
            h2.project-title
                | The KIM
            p.project-pos
                | Freelance Developer (09/2020 - 10/2020)
            .project-block
                p.project-info
                    | Goal:
                p.project-detail
                    | Develop a landing page for marketing and branding purpose.
            .project-block
                p.project-info
                    | Scope:
                p.project-detail.u-align-self-center
                    | 2 people
            p.project-info
                | Strategies:
            ul.project-detail-list
                li
                    a.project-detail.project-link(href="https://thekim.store" target="_blank")
                        | https://thekim.store
                li
                    p.project-detail
                        | Analyze and design landing page based on users' wishes.
                li
                    p.project-detail
                        | Develop a webhook for email register using Slack webhook API.
                li
                    p.project-detail
                        | Optimize brand's owner development cost.
                li
                    p.project-detail
                        | Optimize SEO points.

        .project
            h2.project-title
                | KnowlliPop
            p.project-pos
                | Backend/Lead Developer (11/2019 - 08/2020)
            .project-block
                p.project-info
                    | Goal:
                p.project-detail
                    | Develop cyber security knowledge sharing platform.
            .project-block
                p.project-info
                    | Scope:
                p.project-detail.u-align-self-center
                    | 5 people
            p.project-info
                | Strategies:
            ul.project-detail-list
                li
                    a.project-detail.project-link(href="https://knowllipop.com" target="_blank")
                        | https://knowllipop.com
                li
                    p.project-detail
                        | Analyze requirements and estimate tasks duration.
                li
                    p.project-detail
                        | Develop main API service using NodeJs, ExpressJs.
                li
                    p.project-detail
                        | Social networks login for Facebook, Google with Firebase APIs.
                li
                    p.project-detail
                        | Develop push notification service using Firebase, RabitMQ.
                li
                    p.project-detail
                        | Maintain and improve search engine using Elastic Search.
                li
                    p.project-detail
                        | Cache data with Redis.
                li
                    p.project-detail
                        | Manage data with MongoDb with pure query, aggregation, lookup APIs.
                li
                    p.project-detail
                        | Containerize services with Docker.
                li
                    p.project-detail
                        | Configure auto-deployment with GitlabCI - Docker.
                li
                    p.project-detail
                        | Secure, backup data with Shell Scripts.

        .project
            h2.project-title
                | HTX 4.0
            p.project-pos
                | Fullstack/Lead Developer (05/2019 - 11/2020)
            .project-block
                p.project-info
                    | Goal:
                p.project-detail
                    | Develop a management system for agricultural production process managing and diary logging.
            .project-block
                p.project-info
                    | Scope:
                p.project-detail.u-align-self-center
                    | 10 people
            p.project-info
                | Strategies:
            ul.project-detail-list
                li
                    p.project-detail
                        | Analyse the requirements and estimate tasks duration.
                li
                    p.project-detail
                        | Design Logical/Physical ERD, Database models.
                li
                    p.project-detail
                        | Design mockup UI using Figma and Bootstrap Studio tool. 
                li
                    p.project-detail
                        | Develop Web UI service using HTML, CSS, ReactJs.
                li
                    p.project-detail
                        | Develop Web APIs for using NodeJs, ExpressJs, MongoDb.
                li
                    p.project-detail
                        | Deploy product and configure auto-deployment with GitlabCI, PM2.
                li
                    p.project-detail
                        | Manual testing end-to-end product before deployment.
                li
                    p.project-detail
                        | Release and improve product based on farmers' feedbacks.
                li
                    p.project-detail
                        | Manage data with MongoDb and Mongoose ORM.

        .project
            h2.project-title
                | Live Streaming Video
            p.project-pos
                | Freelance Developer (3 weeks)
            .project-block
                p.project-info
                    | Goal:
                p.project-detail
                    | Develop video live-streaming web application to live-streaming the videos.
            .project-block
                p.project-info
                    | Scope:
                p.project-detail.u-align-self-center
                    | 3 people
            p.project-info
                | Strategies:
            ul.project-detail-list
                li
                    p.project-detail
                        | Design mockup UI using Figma.
                li
                    p.project-detail
                        | Convert mockup UI to code using Pug, CSS, SASS.
                li
                    p.project-detail
                        | Config Ngrok for feedback checking.
                li
                    p.project-detail
                        | Deploy into remote server.

        .project
            h2.project-title
                | Fitness Tracker
            p.project-pos
                | Freelance Developer (3 months)
            .project-block
                p.project-info
                    | Goal:
                p.project-detail
                    | Develop IOT healthcare system to monitor users using Mi Band 2.
            .project-block
                p.project-info
                    | Scope:
                p.project-detail.u-align-self-center
                    | 2 people
            p.project-info
                | Strategies:
            ul.project-detail-list
                li
                    p.project-detail
                        | Analyse and design web APIs to get data from BLE device.
                li
                    p.project-detail
                        | Develop web pages using HTML, CSS, JS.
                li
                    p.project-detail
                        | Develop program to connect with Mi Band 2 using Python.
                li
                    p.project-detail
                        | Develop realtime service to visualize data using Socket.io.
                li
                    p.project-detail
                        | Develop crawler API to crawl data from other websites.
                li
                    p.project-detail
                        | Develop cronjob API to repeatedly get new data.
                li
                    p.project-detail
                        | Manage data with MongoDb and Mongoose ORM.

        .project
            h2.project-title
                | X - CMS
            p.project-pos
                | Freelance Developer (1 month)
            .project-block
                p.project-info
                    | Goal:
                p.project-detail
                    | Develop content management system CodersX's Facebook fanpage.
            .project-block
                p.project-info
                    | Scope:
                p.project-detail.u-align-self-center
                    | 1 people
            p.project-info
                | Strategies:
            ul.project-detail-list
                li
                    p.project-detail
                        | Develop API to generate pre-defined Facebook posts format using NodeJs, ExpressJs.
                li
                    p.project-detail
                        | Integrate with Facebook Graph APIs to interact with Facebook fanpage.
                li
                    p.project-detail
                        | Deploy application to Heroku.
                li
                    p.project-detail
                        | Manage data with MongoDb and Mongoose ORM.
                li
                    p.project-detail
                        | Structure project architectural design with MVC pattern.