extends ../layout/common.pug
block vars
    - var title="Noat Portfolio | Resume templates"

//- stylesheets
block link
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/resume.scss")

block container            
    //- put content here
    .resume-container
        //- a.btn-download.draw-border(
        //-     href="https://res.cloudinary.com/dwvysf04x/image/upload/v1576375220/CV/CV_vi_kesz07.pdf"
        //-     target="_blank")
        //-     | Download my resume (vi)
        //- img.resume-img(src="../../assets/image/resume-vi-ver.svg")

        a.btn-download.draw-border(
            href="https://res.cloudinary.com/dwvysf04x/image/upload/v1612446699/CV/ToanNguyen_resume_irchyk.pdf" 
            target="_blank")
            | Download my resume (en)
        img.resume-img(src="https://res.cloudinary.com/dwvysf04x/image/upload/v1612446814/CV/CV__private_gnpji0.svg")