.project {
    display: flex;
    flex-direction: column;    
    width: 95%;
    margin: 1rem auto 4rem;

    &-item-responsive {
        &-display {
            display: none;
            margin-bottom: 1rem;
        }

        @include breakpoint(mobile-d) {
            &-hidden {
                display: none;
            }
    
            &-display {
                display: block;
                min-width: 50%;
                height: 20rem;
            }
        }
    }

    &-video {
        max-width: 100%;
        margin-bottom: 1rem;
    }
    &-img-50 {
        max-width: 50%;
        margin: 1rem auto;
    }
    &-img-100 {
        max-width: 100%;
    }
    
    &-title {
        font-size: $font-size-xxxl;
        @include breakpoint(lg-tablet-d) {
            font-size: $font-size-xxl;
        }

        font-family: $font-style-project;
        color: $color-dark-1;
        text-align: left;
    }

    &-pos {
        font-size: $font-size-l;
        @include breakpoint(lg-tablet-d) {
            font-size: $font-size-lg;
        }
        @include breakpoint(lg-tablet-d) {
            font-size: $font-size-md;
            margin-top: -5px;
        }
        font-weight: 600;
        color: $color-gray;
        text-align: left;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    &-block {
        display: flex;
        flex-direction: row;

        align-items: center;
        align-items: flex-start;
        padding-bottom: .8rem;
    }

    &-info {        
        font-size: 3rem;
        @include breakpoint(lg-tablet-d) {
            font-size: 2.6rem;
        }
        @include breakpoint(md-mobile-d) {
            font-size: 2rem;
        }

        display: inline-block;
        color: $color-primary-dark;
        text-align: left;    
        font-family: $font-style-project;
    }

    &-detail {
        text-align: left;
        font-size: 2rem;
        @include breakpoint(lg-tablet-d) {
            font-size: 1.8rem;
            margin-top: 2px;
        }
        @include breakpoint(md-mobile-d) {
            margin-top: 3.5px;
            font-size: 1.6rem;
        }

        display: inline-block;
        color: $color-primary;
        max-width: 90%;
        margin-left: 1.5rem;

        &-list {
            // margin-bottom: 1.5rem;
            // @include breakpoint(md-mobile-d) {
            //     margin-bottom: 1rem;
            // }
            padding-left: 3rem;
            list-style-type: disc;
            list-style-position: outside;
        }
    }

    &-link {
        color: $color-tertiary;
    }
}














