.social { 
    margin: 3rem auto 0;   
    .link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;

        width: 4rem;
        height: 4rem;
        padding: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        border-radius: 50%;

        color: white;
        font-size: $font-size-xl;

        &:hover {
            filter: brightness(120%);
        }

        @include breakpoint(mobile-d) {
            font-size: $font-size-lg;
            width: 3rem;
            height: 3rem;
        }

        .icon {
            display: block;
            text-align: center;
        }

        &.facebook { background-color: #3B5998; }
        &.github { background-color: #3F3D56; }
        &.mail { background-color: tomato; }
        &.phone { background-color: #0089B9; }
    }
}


