<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Noat Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="../sass/index.scss">
</head>
<body>   
    <!-- DARK LAYER -->
    <div class="dark-layer"></div>
    <!-- /DARK LAYER -->

    <!-- SCROLLTOP BUTTON -->
    <button class="btn btn--rounded btn__scrolltop">
        <i class="fas fa-arrow-up"></i>
    </button>
    <!-- /SCROLLTOP BUTTON -->
    
    <!-- APP WRAPPER -->
    <div class="wrapper">
        <!-- LEFT CONTENT -->
        <div class="left__content">
            <nav class="nav">
                <ul class="nav__menu">
                    <li class="avatar">
                        <img src="https://res.cloudinary.com/dxrg9mbke/image/upload/v1567213311/portfolio/avatar_lp0bkh.png" class="nav__item--avatar"></img>
                    </li>
                    <li class="nav__item nav__home current">
                        <a href="#home" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item nav__about">
                        <a href="#about" class="nav__link">About</a>
                    </li>
                    <li class="nav__item nav__contact">
                        <a href="#contact" class="nav__link">Contact</a>
                    </li>
                    <li class="nav__item nav__skills">
                        <a href="#skills" class="nav__link">Skills</a>
                    </li>
                    <li class="nav__item nav__works">
                        <a href="#works" class="nav__link">Works</a>
                    </li>
                    <li class="nav__item nav__edu">
                        <a href="#edu" class="nav__link">Edu</a>
                    </li>                    
                </ul>
            </nav>
        </div>
        <!-- /LEFT CONTENT -->        

        <!-- RIGHT CONTENT -->
        <main class="right__content">

            <!-- HOME -->
            <section class="home" id="home">
                <div class="heading__wrapper">
                    <h2 class="home__heading-main">
                        Minh <span class="home__heading-sub">Toàn</span>
                    </h2>
                    <p class="home__title-main">
                        I'm a <span class="home__title-sub"><strong>Web Developer</strong></span>
                    </p>
                </div>                
            </section>
            <!-- /HOME -->

            <!-- ABOUT -->
            <section class="about" id="about">
                <div class="about-wrapper">
                    <div class="heading__wrapper">
                        <h2 class="about__heading">About me</h2>    
                        <div class="about__text">Short decription about me</div>
                    </div>

                    <div class="content__wrapper">
                        <div class="composition">
                            <img src="https://res.cloudinary.com/dxrg9mbke/image/upload/v1567213331/portfolio/coders.offline-3_zkxvde.png" alt="Image 1" class="composition__img composition__img-1">
                            <img src="https://res.cloudinary.com/dxrg9mbke/image/upload/v1567213317/portfolio/coders.offline-2_lyhvln.jpg" alt="Image 2" class="composition__img composition__img-2">
                            <img src="https://res.cloudinary.com/dxrg9mbke/image/upload/v1567213326/portfolio/codersx-danang-1_ulbdak.jpg" alt="Image 3" class="composition__img composition__img-3">
                        </div>
    
                        <div class="content__description">
                            <p class="content__title">
                                Passionate person who falls in love with <span class="emphasize__text">programming</span>.
                            </p>                        
                            <p class="content__detail">
                                Hello my friends, my full name is <span class="emphasize__text">Nguyen Minh Toan</span> and you can call me just <span class="emphasize__text">Toàn</span>.
                                <br/><br/>
                                I'm now in senior year of Information Technology major in Cantho University. I have a strong passion with programming because I feel powerful with the benefits it offers to solve my real-world problems.
                                <br/><br/>
                                I also love to share my knowledge with other people and to bring value to the society. To me, to give is to receive.
                            </p>                        
                        </div>                    
                    </div> 
                </div>
            </section>
            <!-- /ABOUT -->

            <!-- CONTACT -->
            <section class="contact" id="contact">
                <div class="contact__wrapper">
                    <div class="heading__wrapper">
                        <h2 class="contact__heading">Contact</h2>    
                        <div class="contact__text">My contact information</div>
                    </div>
                    
                    <div class="contact__info">
                        <div class="contact__physical u-mb-l">

                            <div class="contact__method">
                                <i class="fas fa-map-marker-alt contact__icon"></i>
                                <span class="contact__detail">Cantho, Vietnam</span>
                            </div>

                            <div class="contact__method">
                                <i class=" contact__icon fas fa-mobile-alt"></i>
                                <span class="contact__detail">+84 678 02598</span>
                            </div>

                            <div class="contact__method">
                                <i class=" contact__icon fas fa-envelope"></i>
                                <span class="contact__detail">nmtoan251998@gmail.com</span>
                            </div>

                        </div>    
                        <!-- <div class="contact__cv">                            
                            <a target="_blank" href="https://res.cloudinary.com/dxrg9mbke/image/upload/v1567215437/portfolio/FacebookAgreement_j0vqgg.pdf" class="btn btn--rounded contact__button">Download CV</a>
                        </div> -->
                    </div>
                </div>

                <div class="socials__wrapper">
                    <ul class="socials__menu">
                        <li class="socials__item">
                            <a href="https://www.facebook.com/noat.2598" target="_blank" class="socials__icon" title="Facebook">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://www.linkedin.com/in/noatnguyen/" target="_blank" class="socials__icon" title="Linkedin">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://www.github.com/nmtoan251998" target="_blank" class="socials__icon" title="Github">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://stackoverflow.com/users/9719620/noat" target="_blank" class="socials__icon" title="Stackoverflow">
                                <i class="fab fa-stack-overflow"></i>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__icon" title="Skype">
                                <i class="fab fa-skype"></i>
                            </a>
                        </li>                        
                    </ul>
                </div>
                
                <div class="contact__cv">                            
                    <a target="_blank" href="https://res.cloudinary.com/dxrg9mbke/image/upload/v1567215437/portfolio/FacebookAgreement_j0vqgg.pdf" class="btn btn--rounded contact__button">Download CV</a>
                </div>
            </section>
            <!-- /CONTACT -->

            <!-- SKILLS -->
            <section class="skills" id="skills">
                <div class="skills__wrapper">
                    <div class="heading__wrapper">
                        <h2 class="skills__heading">Skills</h2>    
                        <div class="skills__text">Summary of my professional knowledge</div>
                    </div>
                    
                    <div class="skills__level-explain">
                        <h3 class="skills__levels-heading header-primary">Skills levels</h3>
                        <div class="skills__level-wrapper">
                            <div class="skills__level-1"></div>
                            <div class="skills__level-2"></div>
                            <div class="skills__level-3"></div>
                            <div class="skills__level-4"></div>
                            <div class="skills__level-5"></div>
                            <div class="skills__level-6"></div>
                        </div>                        
                    </div>                    

                    <div class="skills__stacks-wrapper">
                        
                        <div class="skills__fe-wrapper">
                            <div class="animation-text animation-text__text">
                                <span>F</span>
                                <span class="animation-text__hidden">R</span>
                                <span class="animation-text__hidden">O</span>
                                <span class="animation-text__hidden">N</span>
                                <span class="animation-text__hidden">T</span>
                                <span>E</span>
                                <span class="animation-text__hidden">N</span>
                                <span class="animation-text__hidden">D</span>
                            </div>

                            <div class="skills__fe u-text-center" id="fe"></div>
                        </div>       
                        
                        <div class="skills__be-wrapper">
                            <div class="animation-text animation-text__text">
                                <span>B</span>
                                <span class="animation-text__hidden">A</span>
                                <span class="animation-text__hidden">C</span>
                                <span class="animation-text__hidden">K</span>                                
                                <span>E</span>
                                <span class="animation-text__hidden">N</span>
                                <span class="animation-text__hidden">D</span>
                            </div>

                            <div class="skills__be u-text-center" id="be"></div>
                        </div>     
                        
                        <div class="skills__db-wrapper">
                            <div class="animation-text animation-text__text">                                
                                <span>D</span>
                                <span class="animation-text__hidden">A</span>
                                <span class="animation-text__hidden">T</span>
                                <span class="animation-text__hidden">A</span>
                                <span>B</span>
                                <span class="animation-text__hidden">A</span>
                                <span class="animation-text__hidden">S</span>
                                <span class="animation-text__hidden">E</span>
                                <span class="animation-text__hidden">S</span>
                            </div>

                            <div class="skills__db u-text-center" id="db"></div>
                        </div>
                        
                        <div class="skills__other-wrapper">
                            <div class="animation-text animation-text__text">
                                <span>O</span>
                                <span class="animation-text__hidden">T</span>
                                <span class="animation-text__hidden">H</span>                                
                                <span class="animation-text__hidden">E</span>
                                <span class="animation-text__hidden">R</span>
                                <span class="animation-text__hidden">S</span>                             
                            </div>
                            <div class="skills__others u-text-center" id="others"></div>
                        </div>

                        <div class="skills__cl-wrapper">
                            <div class="animation-text animation-text__text">                                
                                <span>L</span>                                
                                <span>A</span>                                
                                <span>N</span>                                
                                <span>G</span>
                                <span class="animation-text__hidden">U</span>
                                <span class="animation-text__hidden">A</span>
                                <span class="animation-text__hidden">G</span>
                                <span class="animation-text__hidden">E</span>
                                <span class="animation-text__hidden">S</span>
                            </div>

                            <div class="skills__cl u-text-center" id="cl"></div>
                        </div>                        

                    </div>                       
                </div>
            </section>
            <!-- /SKILLS -->

            <!-- WORKS -->
            <section class="works" id="works">
                <div class="works__wrapper">
                    <div class="heading__wrapper">
                        <h2 class="works__heading">My works</h2>    
                        <div class="works__text">Summary of my past works</div>
                    </div>                    

                    <div class="works__show-wrapper">
                        
                        <div class="works__show works__show-1">
                            <video class="works--video" muted controls>
                                <source src="https://res.cloudinary.com/dxrg9mbke/video/upload/v1567213341/portfolio/demo-publishpages-permission_twnxw4.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                            <div class="dark__layer"></div>                            

                            <div class="works__show--detail">
                                <h2 class="works__show--header">X-Content Management System</h2>
                                <div class="works__show--desc">
                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Type: </span>
                                        <span>Self-learning project.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Description: </span>
                                        <span>A web application to creating data, publishing data and scheduling data to CodersX facebook page.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Scope: </span>
                                        <span class="works__show-explain">1.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Position: </span>
                                        <span class="works__show-explain"></span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Feature knowledge gained: </span>
                                        <ol class="works__show-feat-menu">
                                            <li>Facebook Graph APIs interaction.</li>
                                            <li>Web service development with Express.js.</li>
                                            <li>Facebook token authentication.</li>
                                            <li>Render DOM to images.</li>
                                        </ol>
                                    </p>   
                                    
                                    
                                    <a class="works__show-link" target="_blank" href="#" title="Sorry, this is the a close source project">
                                        <button class="btn btn--rounded">Github</button>
                                    </a>
                                </div>                                                                    
                            </div>                            
                        </div>

                        <div class="works__show works__show-2">
                            <div class="works__show--detail">
                                <h2 class="works__show--header">Coders.Tokyo Cantho Quiz App</h2>
                                <div class="works__show--desc">
                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Type: </span>
                                        <span>Community project.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Description: </span>
                                        <span>A web application to play quiz with the members of Coders.Tokyo Cantho group.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Scope: </span>
                                        <span class="works__show-explain">5.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Position: </span>
                                        <span class="works__show-explain">Leader, Developer.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Feature knowledge gained: </span>
                                        <ol class="works__show-feat-menu">
                                            <li>XHR Request.</li>
                                            <li>Tasks management.</li>
                                        </ol>
                                    </p>    
                                    <a class="works__show-link" target="_blank" href="https://github.com/nmtoan251998/coders.tokyo.cantho-quizapp">
                                        <button class="btn btn--rounded">Github</button>
                                    </a>                              
                                </div>                                                                    
                            </div>                            

                            <video class="works--video" muted controls>
                                <source src="https://res.cloudinary.com/dxrg9mbke/video/upload/v1567213341/portfolio/demo-publishpages-permission_twnxw4.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>

                        <div class="works__show works__show-3">
                            <video class="works--video" muted controls>
                                <source src="https://res.cloudinary.com/dxrg9mbke/video/upload/v1567213341/portfolio/demo-publishpages-permission_twnxw4.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                            <div class="works__show--detail">
                                <h2 class="works__show--header">Fitness tracker</h2>
                                <div class="works__show--desc">
                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Type: </span>
                                        <span>School project.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Description: </span>
                                        <span>An application to read data from Xiaomi Miband 2 and manage data in a web service.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Scope: </span>
                                        <span class="works__show-explain">2.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Position: </span>
                                        <span class="works__show-explain">Leader, Backend developer.</span>
                                    </p>

                                    <p class="works__show-paragraph">
                                        <span class="works__show-feat">Feature knowledge gained: </span>
                                        <ol class="works__show-feat-menu">
                                            <li>Establish connection between hardware devices and softwares.</li>
                                            <li>Google firebase reltime database.</li>
                                            <li>Send email to clients from web service.</li>
                                            <li>Send phone message to clients from web service.</li>
                                        </ol>
                                    </p>   
                                    
                                    <a class="works__show-link" target="_blank" href="https://github.com/nmtoan251998/fitness-tracker">
                                        <button class="btn btn--rounded">Github</button>
                                    </a>
                                </div>                                                                    
                            </div>                                                        
                        </div>
                        
                    </div>

                </div>
            </section>
            <!-- /WORKS -->

            <!-- EDU -->
            <section class="edu" id="edu">
                <div class="edu__wrapper">
                    <div class="heading__wrapper">
                        <h2 class="edu__heading">Education</h2>    
                        <div class="edu__text">My education timeline</div>
                    </div>

                    <div class="edu__timeline">
                        <ul class="edu__menu">                            

                            <li class="edu__item edu__item--acas">
                                <div class="timeline__content">
                                    <h3 class="timeline__title" title="https://www.udemy.com/share/100YxSB0MScV9UQ3o=/?xref=E0UbeF5TQ3oHSUQvCz0GJVUWTx4dChQ%2BVFE=">Udemy course: Advanced CSS and SASS - Jonas Schmedtmann</h3>
                                    <ul class="timeline__detail">
                                        <li class="timeline__detail--item">CSS properties</li>
                                        <li class="timeline__detail--item">Web responsiveness</li>
                                        <li class="timeline__detail--item">NPM scripts</li>
                                        <li class="timeline__detail--item">SASS fundamental knowledge</li>
                                    </ul>
                                </div>
                                <div class="timeline__time">
                                    <h3>Nov, 2018</h3>
                                </div>
                            </li>

                            <li class="edu__item edu__item--coders">
                                <div class="timeline__content">
                                    <h3 class="timeline__title" title="Learn modern web courses of Coders.Tokyo now CodersX">Coders.Tokyo Courses</h3>
                                    <ul class="timeline__detail">                                        
                                        <li class="timeline__detail--item">JavaScript A-Z 2018</li>
                                        <li class="timeline__detail--item">HTML for dummies</li>
                                        <li class="timeline__detail--item">UI Design</li>
                                        <li class="timeline__detail--item">Git - from Zero to Hero</li>
                                        <li class="timeline__detail--item">Bootstrap 4 in a nutshell</li>
                                        <li class="timeline__detail--item">JavaScript Advanced 2018</li>
                                        <li class="timeline__detail--item">NodeJS Web Server using Express 2018</li>
                                        <li class="timeline__detail--item">Tự học React 2018</li>
                                    </ul>
                                </div>
                                <div class="timeline__time">
                                    <h3>Feb, 2019</h3>
                                </div>
                            </li>

                            <li class="edu__item">
                                <div class="timeline__content">
                                    <h3 class="timeline__title" title="Get a TOEIC certificate">TOEIC 855 band level</h3>
                                </div>
                                <div class="timeline__time">
                                    <h3>May, 2019</h3>
                                </div>
                            </li>

                            <li class="edu__item edu__item--leader">
                                <div class="timeline__content" title="Working in a Leader position of Coders.Tokyo Cantho, now CodersX (a self-learning web programming group). Responsible for planning weekly meetings topic, managing other members to contribute to weekly meetings. Create a friendly environment for other people to come and learn programming.">
                                    <h3 class="timeline__title">Coders Community Leader</h3>
                                    <ul class="timeline__detail">
                                        <li class="timeline__detail--item">Human management</li>
                                        <li class="timeline__detail--item">Time management</li>
                                        <li class="timeline__detail--item">Planning</li>
                                        <li class="timeline__detail--item">Public speaking skills</li>
                                        <li class="timeline__detail--item">Web programming knowledge review</li>
                                    </ul>
                                </div>
                                <div class="timeline__time">
                                    <h3>Oct 21, 2018 - June 2, 2019</h3>
                                </div>
                            </li>

                            <li class="edu__item edu__item--creator">
                                <div class="timeline__content">
                                    <h3 class="timeline__title" title="Reponsible for developing and planning facebook page content for CodersX">Facebook content creator</h3>
                                    <ul class="timeline__detail">                                        
                                        <li class="timeline__detail--item">Blogging skills</li>
                                        <li class="timeline__detail--item">Optimize blogs based on SEO</li>
                                        <li class="timeline__detail--item">Group working skills</li>
                                        <li class="timeline__detail--item">Reporting skills</li>
                                        <li class="timeline__detail--item">Problems sovling skills</li>
                                        <li class="timeline__detail--item">Resulting to x-cms project listed above</li>
                                    </ul>
                                </div>
                                <div class="timeline__time">
                                    <h3>Jan 1, 2019 - Aug 30, 2019</h3>
                                </div>
                            </li>

                            <li class="edu__item edu__item--ctu">
                                <div class="timeline__content">
                                    <h3 class="timeline__title" title="Graduate from Cantho university in with a Information Technology (high quality program) Bachelor degree.">Cantho University Graduation</h3>
                                    <ul class="timeline__detail">
                                        <li class="timeline__detail--item">Group working skill.</li>
                                        <li class="timeline__detail--item">Presentation skill</li>
                                        <li class="timeline__detail--item">Time management skill</li>
                                        <li class="timeline__detail--item">Verbal and written English communication</li>
                                        <li class="timeline__detail--item">Datastructure and Algorithms</li>
                                        <li class="timeline__detail--item">Object oriented programming</li>
                                        <li class="timeline__detail--item">Database design</li>
                                        <li class="timeline__detail--item">Linux</li>
                                        <li class="timeline__detail--item">Network management</li>
                                    </ul>
                                </div>
                                <div class="timeline__time">
                                    <h3>Sep, 2016 - 2020</h3>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
            <!-- /EDU -->            

            <!-- FOOTER -->
            <footer class="footer">
                <p class="footer__text">
                    Powered by <span class="emphasize__text">Noat</span> with 
                    <i class="fa fa-heart footer__heart"></i>. 
                    <br>
                    <span class="emphasize__text">Last modified</span>: Aug 25, 2019
                </p>
            </footer>
            <!-- /FOOTER -->

        </main>
        <!-- /RIGHT CONTENT -->                              
    </div>  
    <!-- /APP WRAPPER -->      

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <script type="text/javascript" src="../assets/js/slickSlideShow.js"></script>
    <script type="text/javascript" src="../assets/js/eduComponentsAppear.js"></script>
    <!-- <script type="text/javascript" src="../assets/js/showVideoOnClick.js"></script> -->
    <script type="text/javascript" src="../assets/js/scrollTopButton.js"></script>
    <script type="text/javascript" src="../assets/js/effectForCurrentNavItem.js"></script>
</body>
</html>