.about {
    .content {            
        &__title {
            font-size: $font-size-l;
            font-weight: bold;
        }

        &__detail {            
            font-size: $font-size-m;
            font-weight: normal;
            word-spacing: 1.8px;
            line-height: 2rem;
        }        

        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;      
            
            @include breakpoint(sm-laptop) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    
        &__description {
            margin-top: -5rem;
            padding-left: 12.5rem;
            width: 70%;
            cursor: default;            

            @include breakpoint(sm-laptop) {
                margin-top: 0rem;
                padding-left: 0rem;
                padding-top: 35rem;
            }

            @include breakpoint(tablet) {
                padding-top: 30rem;
                width: 80%;
            }

            @include breakpoint(l-mobile) {
                padding-top: 22.5rem;
            }
        }
    
        &__detail {
            margin-top: 2.5rem;
        }
    }
}