.home {
    background-image: url('https://res.cloudinary.com/dxrg9mbke/image/upload/v1567213318/portfolio/coders.offline-1_ehvmfl.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__heading {
        &-main {
            font-size: $font-size-xxxxl;
            color: $color-primary;
            text-transform: uppercase;   
            
            @include breakpoint(l-mobile) {
                font-size: $font-size-xxxl;
                text-align: center;
            }
        }
        &-sub {
            color: $color-primary;            
        }
    }

    &__title {    
        &-main {
            font-size: $font-size-xxl;
            color: rgba($color-primary, .8);
            text-align: center;

            @include breakpoint(l-mobile) {
                font-size: $font-size-xl;
            }
        }
    
        &-sub {        
            color: $color-light;
        }
    }

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99999;
        
        background-color: rgba($color-dark, .2);
    }
}