.skills {
    .slick-list {
        padding-left: 1rem;
        padding-right: .5rem;
    }

    .slick-slide {
        margin-right: 2rem;
    }

    &__icon {
        width: 8rem;
        height: 6rem;
        
        &-wrapper {                                          
            outline: none;  
            padding-bottom: .5rem;
            color: $color-dark;
            font-weight: 700;            
        }
    }               

    &__fe, &__be, &__others, &__cl, &__db {
        display: flex;        
        align-items: center;

        height: 10rem;
        width: 30rem;

        box-shadow: $color-box-shadow-medium;
        border-radius: 5px;
        
        &-wrapper {
            @include breakpoint (l-mobile) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__stacks-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
        grid-column-gap: 6.5rem;   
        grid-row-gap: 2rem;
        
        @include breakpoint (desktop) {
            grid-column-gap: 8rem;   
        }

        @include breakpoint (laptop) {            
            grid-column-gap: 3rem;
        }                

        @include breakpoint (md-laptop) {
            grid-column-gap: 6rem;
        }

        @include breakpoint (tablet) {            
            width: 50%;
            margin: 0 auto;            
            grid-column-gap: 0rem;
        }        

        @include breakpoint (md-tablet) {
            grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
            width: 75%;
            margin: 0;
            grid-column-gap: 15rem;
        }

        @include breakpoint (l-mobile) {
            width: 58.5%;            
            margin: 0 auto;
        }        
    }    
}

.animation-text__hidden {
    @include breakpoint(tablet) {
        opacity: 1 !important;
        max-width: unset !important;
    }
}

