.socials {
    &__wrapper {
        width: 80%;
        margin: 0 auto;
        text-align: center;        
    }    
    
    &__item {
        display: inline-block;
        transition: .2s;

        &:hover {
            transform: scale(1.1) translateY(-2px);
            
        }
        
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }
    
    &__icon {
        color: $color-primary;
        font-size: $font-size-xxxl;   
        cursor: pointer;                   
    }
}