.nav {
    position: fixed;
    left: 0;        
    top: 0;
    width: 14.5%;    
    height: 100%;    

    background-color: $color-primary;
    overflow: hidden;    

    @include breakpoint(md-tablet) {
        display: none;
    }

    &__menu {
        height: 100%;
        width: 100%;
    }

    &__item {        
        padding: 1.25rem 2rem; 

        @include breakpoint (laptop) {
            padding: .6rem 1rem;
        }

        &--avatar {        
            width: 100%;
            padding: 2rem;                        
            margin-bottom: .5rem;
    
            border-bottom: 2px solid rgba($color-gray, .3);        
        }
    }    

    &__link {
        padding: 1rem 1.6rem;

        @include breakpoint (laptop) {
            padding: .4rem .9rem;

            font-size: $font-size-m;
        }

        position: relative;
        overflow: hidden;
        transition: .5s all;

        border-bottom: 4px solid transparent;
        
        &::before {
            content: "";            
            width: 20px;
            position: absolute;
            bottom: 0;
            right: 50rem;
            border-bottom: 4px solid $color-secondary;
            opacity: 0;
            transition: .5s all;
        }

        &:hover::before {            
            right: 17px;
            opacity: 1;
        }        
    }
}

